

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  */
body {
  background-color:black;
}


.person-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crear 3 columnas iguales */
  gap: 16px; /* Espaciado entre las columnas */
  
}

.person-card {
  text-align: center; /* Centrar contenido en cada tarjeta */
  margin-bottom: 16px; /* Espaciado inferior entre tarjetas */
  
}

.person-card img {
  width: 100%; /* Asegurar que la imagen ocupe el 100% del ancho de su contenedor */
  max-height: 300px; /* Establecer una altura máxima para las imágenes */
  object-fit: cover; /* Ajustar la imagen para cubrir completamente su contenedor manteniendo la relación de aspecto */
  border-radius: 10px;
  border:rgb(13, 168, 166) 4px double;
}

